@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-rtl {
        direction: rtl;
    }

    .text-ltr {
        direction: ltr;
    }
}

@layer base {
    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 600;
        src: url('../font/IRANSansXFaNum-Bold.ttf');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 500;
        src: url('../font/IRANSansXFaNum-Medium.ttf');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 400;
        src: url('../font/IRANSansXFaNum-Regular.ttf');
    }
}

@layer components {
    .title_color {
        @apply text-gray-700 dark:text-gray-300;
    }

    .border-style {
        @apply border border-gray-300 dark:border-gray-600;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .custom-transition {
        @apply transition duration-300 ease-in-out;
    }

    .swiper-array .swiper-button-next,
    .swiper-array .swiper-button-prev {
        @apply w-8 h-16 rounded-2xl bg-white bg-opacity-50 backdrop-blur-sm border border-gray-300 hidden lg:flex;
    }

    .swiper-array .swiper-button-next {
        @apply -right-3;
    }

    .swiper-array .swiper-button-next::after,
    .swiper-array .swiper-button-prev::after {
        @apply text-lg text-gray-700 font-bold;
    }

    .swiper-array .swiper-button-prev {
        @apply -left-3;
    }

    .scroll_fixed {
        @apply h-full overflow-hidden;
    }
}

body {
    @apply font-yekan;
}

[x-cloak] {
    display: none !important;
}

.handle-direction .rtl-flag {
    @apply flex !important;
}

.handle-direction .ltr-flag {
    @apply hidden !important;
}

.handle-direction.rtl .ltr-flag {
    @apply flex !important;
}

.handle-direction.rtl .rtl-flag {
    @apply hidden !important;
}

.handle-darkmode .moon {
    @apply block;
}

.handle-darkmode .sun {
    @apply hidden;
}

.handle-darkmode.darkmode .moon {
    @apply hidden;
}

.handle-darkmode.darkmode .sun {
    @apply block;
}